[defaults]
inventory          = /opt/agent_ansible/inventory/hosts
roles_path         = /opt/agent_ansible/roles
host_key_checking  = False
retry_files_enabled = False
stdout_callback    = yaml
gathering          = smart
fact_caching       = jsonfile
fact_caching_connection = /opt/agent_ansible/data/facts_cache
fact_caching_timeout = 86400
forks              = 10

[ssh_connection]
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s
pipelining         = True
